.field{
    width: 100%;
}
.card{
    width: 40%;
    margin: auto;
    background-color: rgb(243, 247, 246);
    padding: 20px;
}
.container{
    margin-top: 10px;
}
.card h1{
    text-align: center;
}
.text-center{
    text-align: center;
}
.card button{
    margin: 5px;
}